{% extends "base.html" %}
{% block pretitle %}{% endblock %}
{% block extra_head %}
{% endblock %}


{% block content %}

<div class="hero-unit">
   

      
   <h1>Flang.io</h1>


   <p>Use Flang.io to manage MongoDB using a web interface and RESTful API.
   Flangio lest you create RESTful web services without the need to write code.
   Import data, create saved searches, and output data in multiple formats, and
   more. Read more about RESTCat</p>

   <a href="/mongodb" class="btn btn-primary btn-large">Manage MongoDB</a>



{% endblock %}
